
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    color: red;
}

h2 {
    margin: 10px 7px;
    text-transform: uppercase;
}

body {
    margin: auto;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.active {
    background-color: lightblue;
}

a {
    text-decoration: none;
}
